{
  "plugins": [
    [
      "svelteflat",
      [
        {
          "libraryName": "svelte-ui",
          "styleLibraryName": "svelte-ui-theme",
          "typoCss": true
        }
      ]
    ]
  ]
}
